{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["src"],
        "alias": {
          "@/models": "./src/models/*",
          "@/controllers": "./src/controllers/*",
          "@/utils": "./src/utils/*",
          "@/db": "./src/config/*"
        }
      }
    ]
  ]
}
